<h1>
  {{title}}
</h1>

	<ul id="listado-clientes">
		<li *ngFor="let cli of clientes">

		{{cli.Id}}
		{{cli.Nombre}}
		{{cli.Apellido}}
		{{cli.Edad}}
	
		</li>
	</ul>
	
	
		
	<h1>Creacion</h1>

		<form #eduform="ngForm" id="add-cliente">
			<p>
				<label for="Id">Id</label>
				<input type="text" [(ngModel)]="Id" name="Id" >
			</p>
			<p>
 				<label for="Apellido">Apellido</label>
				<input type="text" [(ngModel)]="Apellido" name="Apellido" >
			</p>
			<p>
	     		<label for="Nombre">Nombre</label>
				<input type="text" [(ngModel)]="Nombre" name="Npmbre" >
			</p>
			<p>
		        <label for="Edad">Edad</label>
				<input type="text" [(ngModel)]="Edad" name="Edad"  >		
			</p>	
				
			<button type="" (click)="fbPostData(Id,Apellido,Nombre,Edad)">Agregar Cliente</button>
		</form>


	